* {
  box-sizing: border-box;
}
.profile-container {
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 30px 30px;
  background-color: #202020;
  height: 100vh;
}

mat-card {
  width: 400px;
  height: 500px;
}

.user-info {
  justify-content: space-between;
}

p {
  padding: 20px 0px;
}

mat-card-title {
  font-size: x-large;
}

.user-info-update {
  justify-content: space-between;
}

span {
  font-weight: 600;
}
